<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="EnvVarInjectorHttpModuleSettings" type="EnvVarInjectorHttpModule.Configuration.EnvVarInjectorHttpModuleSettings"/>
  </configSections>
  
  <!-- Default Settings for EnvVarInjectorHttpModule (uncomment and edit to change): -->
  
  <!--<EnvVarInjectorHttpModuleSettings
    namespace="process.env"
    interestingEnvVarPrefix="__"
    searchRegex="main.*\.min\.js" />-->
  
  <system.webServer>
    <urlCompression doStaticCompression="false" />
    <modules>
      <add name="EnvVarInjectorHttpModule" type="EnvVarInjectorHttpModule.Module, EnvVarInjectorHttpModule"/>
    </modules>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>